<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="Elia Bonetto">

    <title>{{ page.title }}</title>

    <link href="{{site.baseurl}}/static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700|Kaushan+Script|Droid+Serif:400,700,400italic,700italic|Roboto+Slab:400,100,300,700" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/solid.css" integrity="sha384-VGP9aw4WtGH/uPAOseYxZ+Vz/vaTb1ehm1bwx92Fm8dTrE+3boLfF1SpAtB1z7HW" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/fontawesome.css" integrity="sha384-1rquJLNOM3ijoueaaeS5m+McXPJCGdr5HcA03/VHXxcp2kX2sUrQDmFc3jR5i/C7" crossorigin="anonymous">

    <!-- Custom styles for this template -->
    <link href="{{site.baseurl}}/static/css/agency.css" rel="stylesheet">
    <link href="{{site.baseurl}}/static/css/dark_theme.css" rel="stylesheet">


    <link rel="apple-touch-icon" sizes="180x180" href="{{site.baseurl}}/static/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="{{site.baseurl}}/static/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="{{site.baseurl}}/static/favicon/favicon-16x16.png">
    <link rel="manifest" href="{{site.baseurl}}/static/favicon/site.webmanifest">
    <link rel="mask-icon" href="{{site.baseurl}}/static/favicon/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">
  </head>

  <body id="page-top">
    <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-dark fixed-top masthead bg-light" id="mainNav" style="background-image: url('{{ site.baseurl }}/static/img/title_bar.png');">
      <div class="container-fluid">
        <a class="navbar-brand js-scroll-trigger" href="#page-top"> <!--<img style="width:10em;" src="{{ site.baseurl }}/static/img/logo/GRADE-RR.svg" alt="Logo">--></a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <i class="fa fa-bars fa-2x" aria-hidden="true"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav text-uppercase ml-auto">
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#about">About</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#generate">Generate</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#download">Download</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#team">Team</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    {{content}}

    <!-- Footer -->
    <footer style="background-color:#373435ff;">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-4">
            <img alt="" style="border-width:1px;float:left;margin-right:15px;margin-bottom:0px;" src=""/>
            <span class="copyright" style="color:#eee;">Copyright &copy; GRADE-RR 2023 </span>
          </div>
          <div class="col-md-8">
            <p style="color:#eee;">For general enquiries, email us at
              <a href="mailto:elia.bonetto@tue.mpg.de"> elia.bonetto@tue.mpg.de </a></p>
          </div>
        </div>
      </div>
    </footer>

    {% include cookie-consent.html %}

    <!-- Bootstrap core JavaScript -->
    <script src="{{site.baseurl}}/static/vendor/jquery/jquery.min.js"></script>
    <script src="{{site.baseurl}}/static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="{{site.baseurl}}/static/vendor/jquery-easing/jquery.easing.min.js"></script>
    <!-- Custom scripts for this template -->
    <script src="{{site.baseurl}}/static/js/agency.min.js"></script>

    <script src="{{site.baseurl}}/static/js/clipboard.min.js"></script>

    <script>
      var btn = document.getElementById('btn-copy-clip');
      var clipboard = new ClipboardJS(btn);

      clipboard.on('success', function (e) {
        console.info('Action:', e.action);
        console.info('Text:', e.text);
        console.info('Trigger:', e.trigger);
        e.clearSelection()
        btn.classList.toggle("copied");
      });

      clipboard.on('error', function (e) {
        console.info('Action:', e.action);
        console.info('Text:', e.text);
        console.info('Trigger:', e.trigger);
      });
    </script>  

<script src="https://github.githubassets.com/assets/environment.js"></script>
<script src="https://github.githubassets.com/assets/behaviors.js"></script>
<script src="https://github.githubassets.com/assets/chunk-vendor.js"></script>
<script src="https://github.githubassets.com/assets/chunk-frameworks.js"></script>
  </body>
</html>
