# GENERAL NOTE the paths need to be ABSOLUTE!
env_path: "/media/ebonetto/WindowsData/Demo_GRADE"
use_stl: True # this disable stl loading thus placement AND robot heading
base_env_path: "/home/ebonetto/Desktop/empty.usd"
clean_base_env: False
only_placement: False
robot_mesh_path: "/home/ebonetto/.local/share/ov/pkg/isaac_sim-2021.2.1/main_repo/meshes/robotino.dae"
usd_robot_path: "/home/ebonetto/.local/share/ov/pkg/isaac_sim-2021.2.1/main_repo/usds/robotino.usd"
out_folder: "/media/ebonetto/WindowsData/exp_out2/"
out_folder_npy: "/media/ebonetto/WindowsData/exp_out2/"
fps: 30
num_robots: 1
experiment_length: 180 # camera frames length
autonomous: True # true -> FUEL, false -> random goals
physics_hz: 240 # NOTE THAT THIS IS THE RATE OF CLOCK AND IMU
render_hz: 240 # LEAVE IT EQUAL TO PHYSICS HZ
ratio_tf: 2 # physics_hz/ratio_tf = tf publish hz
ratio_odom: 4 # physics_hz/ratio_odom = odom publish hz
ratio_camera: 8 # physics_hz/ratio_cam = imgs publish hz
bootstrap_exploration: 1 # seconds to boostrap exploration (min(abs(this_value), 1/(physics_hz/ratio_camera))
robot_sensor_size: [ 640, 480 ]
npy_sensor_size: [ 1920, 1080]
_random_light: { "intensity": True,
                 "color": True,
                 "intensity_interval": [ 600, 4500 ], # [min, max], for rtx
                 "during_experiment": False,
                 "n-frames": 24,
                 "smooth": False }
_random_roughness: {
  "enabled": True,
  "intensity_interval": [ 0.1, 0.9 ]
}
env_prim_path: "/World/home"
robot_base_prim_path: "/my_robot_"
_recorder_settings: {
  "rgb": { "enabled": True },
  "depth": { "enabled": False, "colorize": False, "npy": True },
  "depthLinear": { "enabled": True, "colorize": False, "npy": True },
  "instance": { "enabled": True, "colorize": False, "npy": True, "mappings": True },
  "semantic": { "enabled": False, "colorize": False, "npy": True, "mappings": True },
  "bbox_2d_tight": { "enabled": True, "colorize": False, "npy": True },
  "bbox_2d_loose": { "enabled": True, "colorize": False, "npy": True },
  "normals": { "enabled": True, "colorize": False, "npy": True },
  "motion-vector": { "enabled": False, "colorize": True, "npy": True },
  "bbox_3d": { "enabled": True, "colorize": False, "npy": True },
  "camera": { "enabled": True, "colorize": True, "npy": True },
  "poses": { "enabled": True, "colorize": True, "npy": True },
}
is_iRotate: True